/* ChatBody.css */

/* Styles for the chat container */
.chat-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
    padding: 1rem;
    height: 100%;
} 

/* Styles for chat messages */
.message {
   
    border: 2px solid #9999;
    word-wrap: break-word;
    border-width: 2px;
    border-radius: 0.75rem;
    align-self: flex-end;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    max-width: 80%;
    font-weight: 600;
    font-size: 0.9rem;
}



/* Styles for AI messages */
.ai-message {
    background-color: rgba(255, 255, 255, 0.4);
    /* Adjust background color */
    backdrop-filter: blur(10px);
    /* Apply backdrop blur to AI messages */
    margin-right: auto;
    /* Add any other styling for AI messages here */
}

.button-container  {
    display: flex;
    /* align-items: end; */
    justify-content: end;
    gap: 5px;
}

.action-button {
    background: transparent;
    /* align-items: end; */
    /* gap: 20px; */
    margin: 0 5px;
    border: none;
    color: white;
    /* font-weight: 600; */
    /* font-size: 1rem; */
}

/* Styles for message content */
.message-content {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    white-space: pre-wrap;
    /* Add any other styling for message content here */
}

/* Empty element for scrolling to the bottom */
.scroll-to-bottom {
    height: 0.2rem;
    /* Set the desired height for scrolling indicator */
    /* Add any other styling for scrolling indicator here */
}