.ai {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #ff8c6b;
    padding: 2rem;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    color: white;
}

.aibox {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    /* position: relative; */
    width: 100%;
    max-width: 1340px;
    height: 90vh;
    background-color: #1A232E;
    border-radius: 3.3rem;
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
}

.header {
    display:flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    /* background-color: #ff8c6b; */
    margin-bottom: 0.75rem;
}

.gr1,
.gr2 {
    z-index: 0;
    position: absolute;
}

.gr1 {

    width: 200px;
    height: 238px;
    top: 0;
    background-color: #ca00ff;
    filter: blur(175px);
}

.gr2 {

    width: 200px;
    height: 238px;
    top: -6rem;
    right: 0;
    background-color: #7aebfb;
    filter: blur(190px);

}
.ic{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.bx{
    cursor: pointer;
}
.bodyWrapper {
    /* min-height: 500px; */
    height: 97%;
    /* background-color: red; */
    overflow: auto;
    width: 100%;
    max-width: 70rem;
    min-width: 20rem;
    padding: 2rem 1rem;
    align-self: center;
}

.bodyWrapper::-webkit-scrollbar {
    width: 0.5rem;
}

.bodyWrapper::-webkit-scrollbar-thumb {
    background-color: #718096;
    border-radius: 0.25rem;
}

.bodyWrapper::-webkit-scrollbar-track {
    background: transparent;
}

.input {
    width: 100%;
    max-width: 60rem;
    min-width: 20rem;
    align-self: center;
    padding: 2rem 1rem;
}